name = "commerce"
compatibility_date = "2024-12-30"
compatibility_flags = ["nodejs_compat"]

# Cloudflare Workers configuration
main = ".open-next/worker.js"

[assets]
directory = ".open-next/assets"
binding = "ASSETS"

[images]
binding = "IMAGES"
